ProvEventos/InterfazWeb/Service References/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58486/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
  <xs:element name="WCFAllServiciosWhitTipoEvento">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAllServiciosWhitTipoEventoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="WCFAllServiciosWhitTipoEventoResult" nillable="true" type="q1:ArrayOfServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAddProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreCompletoProv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passw" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreFantasia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="esVIP" type="xs:boolean" />
        <xs:element minOccurs="0" name="valorArancelVIP" type="xs:double" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="listaServicios" nillable="true" type="q2:ArrayOfProveedorServicio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFAddProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFAddProveedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFShowAllProveedores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFShowAllProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="WCFShowAllProveedoresResult" nillable="true" type="q3:ArrayOfProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFShowProveedorPorRUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreRUT" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFShowProveedorPorRUTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="WCFShowProveedorPorRUTResult" nillable="true" type="q4:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFChangeDatosProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProveedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreCompleto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreFantasia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="esVIP" type="xs:boolean" />
        <xs:element minOccurs="0" name="arancelVIP" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFChangeDatosProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFChangeDatosProveedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFChangeArancelAnualProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="arancel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFChangeArancelAnualProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFChangeArancelAnualProveedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFObtenerArancelAnualProveedor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFObtenerArancelAnualProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFObtenerArancelAnualProveedorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFDesactivarProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rutProveedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFDesactivarProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFDesactivarProveedorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGuardarTxtProveedores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGuardarTxtProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFGuardarTxtProveedoresResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGuardarTxtServicios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WCFGuardarTxtServiciosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WCFGuardarTxtServiciosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>