ProvEventos/InterfazWeb/Service References/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58486/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58486/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58486/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_WCFAllServiciosWhitTipoEvento_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFAllServiciosWhitTipoEvento" />
  </wsdl:message>
  <wsdl:message name="IService_WCFAllServiciosWhitTipoEvento_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFAllServiciosWhitTipoEventoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFAddProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFAddProveedor" />
  </wsdl:message>
  <wsdl:message name="IService_WCFAddProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFAddProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFShowAllProveedores_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFShowAllProveedores" />
  </wsdl:message>
  <wsdl:message name="IService_WCFShowAllProveedores_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFShowAllProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFShowProveedorPorRUT_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFShowProveedorPorRUT" />
  </wsdl:message>
  <wsdl:message name="IService_WCFShowProveedorPorRUT_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFShowProveedorPorRUTResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFChangeDatosProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFChangeDatosProveedor" />
  </wsdl:message>
  <wsdl:message name="IService_WCFChangeDatosProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFChangeDatosProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFChangeArancelAnualProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFChangeArancelAnualProveedor" />
  </wsdl:message>
  <wsdl:message name="IService_WCFChangeArancelAnualProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFChangeArancelAnualProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFObtenerArancelAnualProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFObtenerArancelAnualProveedor" />
  </wsdl:message>
  <wsdl:message name="IService_WCFObtenerArancelAnualProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFObtenerArancelAnualProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFDesactivarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFDesactivarProveedor" />
  </wsdl:message>
  <wsdl:message name="IService_WCFDesactivarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFDesactivarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFGuardarTxtProveedores_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFGuardarTxtProveedores" />
  </wsdl:message>
  <wsdl:message name="IService_WCFGuardarTxtProveedores_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFGuardarTxtProveedoresResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WCFGuardarTxtServicios_InputMessage">
    <wsdl:part name="parameters" element="tns:WCFGuardarTxtServicios" />
  </wsdl:message>
  <wsdl:message name="IService_WCFGuardarTxtServicios_OutputMessage">
    <wsdl:part name="parameters" element="tns:WCFGuardarTxtServiciosResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="WCFAllServiciosWhitTipoEvento">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFAllServiciosWhitTipoEvento" message="tns:IService_WCFAllServiciosWhitTipoEvento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFAllServiciosWhitTipoEventoResponse" message="tns:IService_WCFAllServiciosWhitTipoEvento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFAddProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFAddProveedor" message="tns:IService_WCFAddProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFAddProveedorResponse" message="tns:IService_WCFAddProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFShowAllProveedores">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFShowAllProveedores" message="tns:IService_WCFShowAllProveedores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFShowAllProveedoresResponse" message="tns:IService_WCFShowAllProveedores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFShowProveedorPorRUT">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFShowProveedorPorRUT" message="tns:IService_WCFShowProveedorPorRUT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFShowProveedorPorRUTResponse" message="tns:IService_WCFShowProveedorPorRUT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFChangeDatosProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFChangeDatosProveedor" message="tns:IService_WCFChangeDatosProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFChangeDatosProveedorResponse" message="tns:IService_WCFChangeDatosProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFChangeArancelAnualProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFChangeArancelAnualProveedor" message="tns:IService_WCFChangeArancelAnualProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFChangeArancelAnualProveedorResponse" message="tns:IService_WCFChangeArancelAnualProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFObtenerArancelAnualProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFObtenerArancelAnualProveedor" message="tns:IService_WCFObtenerArancelAnualProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFObtenerArancelAnualProveedorResponse" message="tns:IService_WCFObtenerArancelAnualProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFDesactivarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFDesactivarProveedor" message="tns:IService_WCFDesactivarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFDesactivarProveedorResponse" message="tns:IService_WCFDesactivarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFGuardarTxtProveedores">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFGuardarTxtProveedores" message="tns:IService_WCFGuardarTxtProveedores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFGuardarTxtProveedoresResponse" message="tns:IService_WCFGuardarTxtProveedores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WCFGuardarTxtServicios">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WCFGuardarTxtServicios" message="tns:IService_WCFGuardarTxtServicios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WCFGuardarTxtServiciosResponse" message="tns:IService_WCFGuardarTxtServicios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WCFAllServiciosWhitTipoEvento">
      <soap:operation soapAction="http://tempuri.org/IService/WCFAllServiciosWhitTipoEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFAddProveedor">
      <soap:operation soapAction="http://tempuri.org/IService/WCFAddProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFShowAllProveedores">
      <soap:operation soapAction="http://tempuri.org/IService/WCFShowAllProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFShowProveedorPorRUT">
      <soap:operation soapAction="http://tempuri.org/IService/WCFShowProveedorPorRUT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFChangeDatosProveedor">
      <soap:operation soapAction="http://tempuri.org/IService/WCFChangeDatosProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFChangeArancelAnualProveedor">
      <soap:operation soapAction="http://tempuri.org/IService/WCFChangeArancelAnualProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFObtenerArancelAnualProveedor">
      <soap:operation soapAction="http://tempuri.org/IService/WCFObtenerArancelAnualProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFDesactivarProveedor">
      <soap:operation soapAction="http://tempuri.org/IService/WCFDesactivarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFGuardarTxtProveedores">
      <soap:operation soapAction="http://tempuri.org/IService/WCFGuardarTxtProveedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WCFGuardarTxtServicios">
      <soap:operation soapAction="http://tempuri.org/IService/WCFGuardarTxtServicios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:58486/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>